.intro {
  max-width: 650px;
  color: gold;
  letter-spacing: 3px;
  background: rgba(39, 37, 37, 0.5);
  padding: 15px;
}

.intro p {
  font-size: 20px;
  line-height: 35px;
  color: #fff;
  font-family: "Monaco";
  margin-top: 40px;
}

.intro h1 {
  margin: 0;
  font-family: monospace;
  font-weight: bold;
  font-size: 32px;
}
